
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    
    overflow: hidden;
}

ul {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
   
}

li {
   
    display: flex;
    align-items: center;
    gap:20px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background: #e9e6e6;
}

li img{
    background: rgb(219, 219, 219);
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}